.modals {
    position: fixed;
    top: 65px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Ajusta la opacidad y el desplazamiento según tu preferencia */
    padding: 20px;
    background-color: #fff;
    /* Puedes ajustar el color de fondo según tu diseño */
}

.account {
    display: flex;
}

.account p {
    margin-left: 5px;
    cursor: pointer;
}

.noti {
    right: 15px;
}

.notification {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.notification.error {
    background-color: #FFEBEE;
    /* Rojo claro */
}

.notification.warning {
    background-color: #FFFDE7;
    /* Amarillo claro */
}

.notification.info {
    background-color: #E8F5E9;
    /* Verde claro */
}

.icon-error {
    color: #D32F2F;
    /* Rojo oscuro */
}

.icon-warning {
    color: #F57C00;
    /* Naranja */
}

.icon-info {
    color: #388E3C;
    /* Verde oscuro */
}

.notify p:first-child {
    font-weight: bold;
    font-size: 12px;
}

.notify p:nth-child(2) {
    font-weight: lighter;
    font-size: 10px;
}

.todos {
    right: 15px;
}

.todos ul {
    list-style: none;
    padding: 0;
}

.add-todo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.add-todo p {
    align-self: center;
}

.add-todo Button {
    width: 80px;
    font-size: 13px;
    margin-left: 15px;
}

.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}

.todo-content {
    display: flex;
    align-items: center;
}

.todo-content input[type="checkbox"] {
    margin-right: 10px;
}

.checked span {
    text-decoration: line-through;
}

.delete-icon {
    cursor: pointer;
    color: #ff6347;
    /* color del icono */
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo gris opaco */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* Sombra para resaltar el modal */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 500px;
    max-width: 90%;
}

.form-container {
    display: flex;
    flex-direction: column;
}

h1,
h3 {
    margin: 10px 0 10px 0;
}

input[type="text"] {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 16px);
}

.react-select {
    margin-bottom: 10px;
}

.checkbox-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox-container label {
    margin-right: 10px;
}

.button-modal {
    display: flex;
    justify-content: flex-end;
}

.button-modal button {
    padding: 10px 15px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    float: right;
}

button[type="submit"] {
    background-color: #007df7;
    color: white;
}

button[type="button"] {
    background-color: #6f787f;
    color: white;
}

.success-message {
    color: green;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
}

.radio-container {
    margin-bottom: 10px;
}

.radio-container input[type="radio"] {
    display: none;
}

.radio-container label {
    display: inline-block;
    cursor: pointer;
    padding: 8px 16px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.radio-container input[type="radio"]:checked+label {
    background-color: #007bff;
    color: #fff;
}