* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: white;
  /* Color de fondo blanco */
  color: #333;
  /* Color de texto principal */
}