header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f1f1f1;
    /* Fondo gris claro para el header */
    color: #333;
    border-bottom: 1px solid #ddd;
    /* Línea inferior para separar */
}

.content {
    display: flex;
}

.logo {
    background-color: #0A055A;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left .logo {
    height: 40px;
    margin-right: 20px;
}

.hamburger {
    font-size: 24px;
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
}

.header-right {
    display: flex;
    align-items: center;
}


.header-right .icon {
    font-size: 24px;
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    margin-left: 20px;
}

.profile-pic {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 20px;
    object-fit: cover;
}

.main-content {
    display: flex;
}

nav {
    background-color: #f1f1f1;
    /* Fondo gris claro para el nav */
    width: 200px;
    padding: 20px;
    box-sizing: border-box;
    border-right: 1px solid #ddd;
    /* Línea derecha para separar */
    transition: width 0.3s;
    /* Transición para el cambio de tamaño */
}

nav.collapsed {
    width: 70px;
    /* Ancho cuando está colapsado */
}

nav ul {
    list-style-type: none;
}

nav ul li {
    margin-bottom: 20px;
}

nav ul li a {
    color: #333;
    /* Color de texto del enlace */
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #ddd;
    /* Fondo gris más oscuro al pasar el cursor */
}

nav ul li a svg {
    margin-right: 8px;
    min-width: 24px;
    /* Aseguramos que los íconos tengan un ancho fijo */
}

nav.collapsed ul li a {
    justify-content: center;
    /* Centramos los iconos */
}

nav.collapsed ul li a .menu-text,
nav.collapsed ul li a .arrow-icon {
    display: none;
    /* Ocultamos el texto y la flecha */
}

.popup {
    position: fixed;
    top: 65px;
}